<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ImmoPlus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="onSubmit()">
       
        <ion-item>
          <ion-input placeholder="email" type="email" ></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-input placeholder="Password" type="password" ></ion-input>
        </ion-item>
        <br>
        <ion-button (click)="LogMeIn()" type="submit" expand="full">Login</ion-button>
      </form>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>
